h1{
          font-size: 20px;
          font-style: italic;
}
#first{
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-weight: 900;
          color: #ff34f4;
          font-size: 30px;
          line-height: 60px; 
         
}

.second{
          font-size: 30px;
          color: rgb(34, 44, 155);
          color: rgba(44, rgb(56, 173, 56), rgb(94, 94, 212), 10);
          background-color: #ff459475;
          
}
